.api_token.json
__pycache__/
*.pyc
*.env
.env.*
.DS_Store
venv/
*.bin
uploads/
output.json
data/chroma_db/
*.sqlite3
.venv/
.vscode/
backend/medical.db
*.db
/backend/uploads
backend/medical.db
node_modules/
dist/
